body{
	background: radial-gradient(#FFFF59, #ffcc00,#ff9900);
	padding-top: 35px;
	padding-bottom: 20px;
	}

nav{
	top: 0px;
	font-family: arial;
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: inline;
	align-items:stretch;
	border-radius: 10px;
	list-style-type: none;
	padding: 0;	
	}

.footer {
	position: fixed;
	text-align: center;
  align-items: center;
	bottom: 0px;
	padding-top: 0px;
	background-color: #FFFF59;
	width: 100%;
	}

h4{
  text-align: left;
}

.scaled:hover{
        transform: scale(1.25);
        transition: 10s, ease-in-out;
}

/*Styling for form (Page3) */
 #container {
    padding-top: 30px;
    width: 500px;
    margin: auto;
 }
 .row{
  padding-top: 10px;
 }

h2{
  padding: auto;
  font-size:20px;
  color: black;
  text-align: center;
}

 form{
   width: 500px;
   border:2px solid #FFFF59;
   border-radius: 10px;
   padding: 5px;
   background-color: #FFFF59;
   margin-bottom: 10px;
  }
      
 label.field {
    display: block;
    text-align: left;
    width: 200px;
    float: left;
    clear: both;
    }

  input {
    border-radius: 5px;
    padding: 6px 8px;
    float: left;
    }

  .field {
    padding: 6px 8px;
  }

  fieldset {
    width: 450px;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 20px;
    background-color:#FFFF59;
  }	

#radio{
    width:450px;
    padding: 20px ;
}

#radio input{
    border-radius: 5px;
    padding: 10px;
    float: left;
}
/*end of styling for form (Page3)*/



/*styling for Tour dates (page 5)*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    padding-top: 5px:;
}

td {
  border:2px solid black;
  padding:20px;
  text-align: center;
}
th {
    border: 2px solid black;
    text-align:center;
    padding: 30px

 }

tr:nth-child(even) {
    background-color: white;
}

/*end of styling for page 5 */